<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Schnell Store</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detail</display-name>
    <servlet-name>detail</servlet-name>
    <servlet-class>Servlets.detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shop</display-name>
    <servlet-name>Shop</servlet-name>
    <servlet-class>Servlets.Shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>Servlets.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCart</display-name>
    <servlet-name>AddtoCart</servlet-name>
    <servlet-class>Servlets.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCart</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>Servlets.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCmd</display-name>
    <servlet-name>ValidateCmd</servlet-name>
    <servlet-class>Servlets.ValidateCmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCmd</servlet-name>
    <url-pattern>/ValidateCmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>Servlets.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join</display-name>
    <servlet-name>join</servlet-name>
    <servlet-class>web.join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joinme</display-name>
    <servlet-name>joinme</servlet-name>
    <servlet-class>web.joinme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinme</servlet-name>
    <url-pattern>/joinme</url-pattern>
  </servlet-mapping>
</web-app>